<!DOCTYPE html>
<html>
	<head>
	    <meta name = "viewport" content = "width=device-width, initial-scale=1">
	      
	    <link href = "stylesheets/bootstrap.min.css" rel = "stylesheet">

	    <link href = "stylesheets/style.css", rel = "stylesheet", type = "text/css">

	</head>
	<body>
	    <h2>Login failed!</h2>

	    <button>
	    	<a href="login">Try again</a>
	    </button>

	    <button>
	    	<a href="start">Back to homepage</a>
	    </button>
	</body>
</html>