<!doctype HTML>
<html>
	<head>
	    <meta name = "viewport" content = "width=device-width, initial-scale=1">
	      
	    <link href = "stylesheets/bootstrap.min.css" rel = "stylesheet">


	    <link href = "stylesheets/style.css", rel = "stylesheet", type = "text/css">

		<title> Login Success </title>
		<h1> Administrative Login Successful </h1>
		<h3> Click on where you would like to go </h3>
	</head>
	<body>
		
		<button>
			<a href = "/start"> Submit a contact... </a>
		</button>

		<br>

		<button>
			<a href = "/contacts"> View contact list...</a>
		</button>

		<br>

		<button>
			<a href = "/logout"> Logout... </a>
		</button>

	</body>
</html>