<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link href = "stylesheets/bootstrap.min.css" rel = "stylesheet">

    <link href = "stylesheets/style.css", rel = "stylesheet", type = "text/css">

    <title>Administrative Login</title>
    <h1> Admin Login - Enter valid credentials </h1>
</head>
<body>
    <div class='instructions'>
    </div>
    <form action = "login" method = "post">
        <div>
            <p>
                <label for="guess">Username:  </label>
                <input type="text" name="username"/>
            </p>
            <p>
                <label for="guess">Password:  </label>
                <input type="password" name="password"/>
            </p>
            <button type="submit">Login</button>
        </div>
    </form>

    <button>
        <a href = "/start"> Back to mailer form... </a>
    </button>
</body>
</html>